

body {
	font-family: Bahnschrift;
	color: black;
	min-width: 480px;
	max-width: 1920px;
	font-size: 100%;
	
}
#header img{
	
	width: 80px;
	height: 80px;
	padding-top: 0px;
	vertical-align: middle;
	padding: 10px;
	
	
}
#header {
	background-color: DarkGrey;
	border-radius: 10px;
	color: White;
	text-shadow: 2px 2px 7px #111111;
	text-align: center;
	vertical-align: text-top;
	height: 100px;
	width: 100%;
	font-family: Bahnschrift;
	font-size: 2.5em;
	
	padding-top: 0px;
	overflow: hidden;
	
	
}

ul.navbar{
	list-style-type: none;
	border-radius: 10px;
	margin: px;
	margin-top: 5px;
	padding: 0px;
	overflow: hidden;
	background-color: Gainsboro
	
}
ul.navbar li{
	display: inline-block;
	border-radius: 10px;
	margin: 0px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	border-left: 2px solid DarkGrey;
	
}
ul.navbar li a{
	display: inline-block;
	border-radius: 10px;
	color: black;
	text-align: center;
	padding: 10px 14px;
	text-decoration: none;
	margin: 0px;
}
.active{
	background-color: Ivory;
}
li a:hover:not(.active) {
	background-color: SlateBlue;
	color: LightSteelBlue;
}


/* Homepage Suggestion Discussions movies */

#disAndSug {
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	justify-content: space-between;	
}

.discussion,
.suggestion {
	flex: 0 0 46%;
	border: 3px solid DarkGrey;
	padding: 10px;
  	border-radius: 5px;
  	overflow: hidden;
}

h2 a {
	color: black;
	text-decoration: none;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: flex;
	margin-bottom: 20px;
}

.movieInfo {
	flex: 0 0 30%;
}

.movieInfo img {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.movieInfo h2 {
	font-size: 18px;
	margin: 0;
}



.comment-box,
.synopsis-box {
	margin-left: 20px;
	background-color: lightgray;
	padding: 10px;
	border: 1px solid DarkGrey;
	border-radius: 5px;
}

.comment-box p,
.synopsis-box p {
	margin: 0;
}

 /* Movie suggestion FORM */
.movieForm {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid lightgray;
	border-radius: 5px;
	background-color: lightgray;
}

h1 {
	text-align: center;
}

label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

input[type="text"],
input[type="email"],

textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input[type="submit"]:focus {
  outline: none;
}

/* Star RATING system */

.ratings-wrapper{
   border: thin solid #999;
   display: inline-block;
   
   float: left;
   margin-bottom: 5px;
     
}
.ratings{
   display: flex;
   flex-direction: row-reverse;

}
.ratings span{
   cursor: pointer;
   transition: color .2s;
   font-size: 25px;
}
.ratings span:hover{
   color: orange;
}
.ratings span:hover ~ span{
   color: orange;
}
.ratings span[data-clicked]{
   color: orange;
}
.ratings span[data-clicked] ~ span{
   color: orange;
}


/* Discussions CSS*/
.movie-list {
	list-style-type: none;
	text-decoration: none;
	padding: 0;
	margin: 0;
  }
  
.movie {
border: 1px solid #ccc;
margin-bottom: 10px;
}
  
.movie-header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
background-color: lightgray;
}
  
.movie-title {
margin: 0;
}
  
.expand-button {
background-color: #ccc;
border: none;
color: white;
padding: 5px 10px;
cursor: pointer;
}
  
.movie-details {
	display: flex;
	flex-direction: column;
}
.movie-details img {
	max-width: 10%;
  height: auto;
}

.comments-section {
margin-left: auto;
width: 50%;
}

.comment {
border: 1px solid #ccc;
padding: 10px;
margin-bottom: 10px;
}

.add-comment {
margin-top: 20px;
}

/* About page CSS */
.about-section .owners-section .references-section .footer {
	max-width: 600px;
}
